<!DOCTYPE html>
<html lang="en">

<head>
  <title>AI Waste Recognition</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="{{ url_for('static', filename = 'script.js') }}">
  </script>
  <link rel="stylesheet" type="css" href="{{ url_for('static', filename = 'style.css') }}">
</head>

<body>
    <form id="predictForm" action="/predict" method="post" enctype="multipart/form-data">
        <input id="imageInput" type="file" name="image" accept="image/*">
        <input type="submit" value="Predict">
    </form>

    <div id="trainDiv">
      <button type="button" id="organic">Organic</button>
      <button type="button" id="recyclable">Recyclable</button>
    </div>

    <div>
      <button type="button" id="refreshButton" onclick="document.getElementById('imageExplore').src='/explore-predictions?' + new Date().getTime()">Refresh</button>
      <img width=600 src="/explore-predictions" id="imageExplore" alt="">
    </div>

    <button type="button" id="reloadButton">Reload Model</button>
</body>


</html>
